<div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1 class="display-4">Ensure <br> Your <br> Trademark</h1>
        <p class="lead">Secure your trademark before registration and <br> avoid potential conflicts such as trademark <br> infringement or legal challenges</p>
        <a href="/checker" class="btn btn-primary btn-lg mt-3">CHECK YOUR TRADEMARKS NOW!</a>
      </div>
      <div class="col-md-6 text-center">
        <div class="position-relative">
          <img src="man.png" alt="Man Image" class="img-fluid main-image" style="transform: scale(1.8); margin-top: 60px;">
        </div>
      </div>
    </div>
  </div>